@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  font-size: 50px;
}

html {
  overflow-x: hidden;
}

:root {
  --cor-1: #F2E2C4;
  --cor-2: #261F16;
  --cor-3: #BFA380;
  --cor-4: #8C5B30;
  --cor-5: #734226;
}

.oreh{
  height: 100vh;
  backdrop-filter: blur(10px);
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(imagens/livrosespalhados.jpg);
  background-size: cover;
  background-position: center;
  z-index: 999;
}

nav {
  height: 100px;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-image: black;
}

nav .logo{
  margin: 30px 0px 0px 40px;
  font-size: 50px;
  color: var(--cor-1);
}

nav .menu{
  margin-left: 80px;
}

nav .menu a{
  text-decoration: none;
  color: var(--cor-1);
}

nav .sobrenos{
  margin: 30px 40px 0px 0px;
  font-size: 20px;
  color: var(--cor-1);
  text-transform: uppercase;
  transition: all 0.6s ease;
  border: 2px solid var(--cor-1);
  border-radius: 3rem;
  align-items: center;
  display: flex;
  padding: 0px 10px 0px 10px;
}

nav .sobrenos:hover {
  background-color: rgb(204, 204, 204, 0.1);
  color: white;
}

nav .sobrenos a{
  color: var(--cor-1);
  text-decoration: none;
}

nav ul {
  text-transform: uppercase;
  display: inline-flex;
  color: var(--cor-1);
  list-style-type: none;
  margin-right: 100px;
}

nav ul li:hover ul{
  display: inline-flex;
}

nav ul li ul {
  margin-top: 25px;
  padding: 35px 20px 35px 20px  ;
  right: 50px;
  position: absolute;
  display: none;
}

nav ul li ul li{  
  text-align: left;
  margin-left: 60px;
}

nav ul li {
  cursor: pointer;;
  padding: 10px;
  margin-left: 120px;
  font-size: 25px;
  margin-top: 30px;
  text-align: right;
  transition: all 0.6s ease;
}

nav ul li:hover{
  background-color: rgb(204, 204, 204, 0.1);
  color: white;
}

.main-img {
  position: absolute;
  z-index: 1001;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-img img {
  position: sticky;
  width: 450px;
  height: auto;
  margin-top: -90px;
  z-index: 1;
}

.TP {
  margin-top: 100px;
  text-align: center;
  color: var(--cor-1);
  font-size: 290px;
  font-style: italic;
  transition: all 1s ease;
  font-family: 'Kaushan Script', cursive;
  font-weight: 900;
  z-index: 999;
  margin-right: 100px;

}

.TP:hover {
  color: var(--cor-4);
}

.hero2 {
  display: none;
  height: 100vh;
  width: 100%;
  background: var(--cor-2);
  background-size: cover;
  background-position: center;
}