* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12pt;
  line-height: 18pt;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-1: #f2e2c4;
  --cor-2: #261f16;
  --cor-3: #bfa380;
  --cor-4: #8c5b30;
  --cor-5: #734226;
}

body {
  background-color: #261f16;
}

nav {
  height: 100px;
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: rgb(28, 22, 22);
}

nav .logo {
  margin: 30px 0px 0px 40px;
  font-size: 50px;
  color: var(--cor-1);
}

nav .menu {
  margin-left: 80px;
}

nav .menu a {
  text-decoration: none;
  color: var(--cor-1);
}

nav .sobrenos {
  margin: 30px 40px 0px 0px;
  font-size: 20px;
  color: var(--cor-1);
  text-transform: uppercase;
  transition: all 0.6s ease;
  border: 2px solid var(--cor-1);
  border-radius: 3rem;
  align-items: center;
  display: flex;
  padding: 0px 10px 0px 10px;
}

nav .sobrenos:hover {
  background-color: rgb(204, 204, 204, 0.1);
  color: white;
}

nav .sobrenos a {
  color: var(--cor-1);
  text-decoration: none;
}

nav ul {
  text-transform: uppercase;
  display: inline-flex;
  color: var(--cor-1);
  list-style-type: none;
  margin-right: 100px;
}

nav ul li:hover ul {
  display: inline-flex;
  align-items: center;
}

nav ul li ul {
  margin-top: 25px;
  padding: 35px 20px 35px 20px;
  right: 50px;
  position: absolute;
  display: none;
}

nav ul li ul li {
  text-align: left;
  margin-left: 60px;
}

nav ul li {
  cursor: pointer;
  padding: 10px;
  margin-left: 120px;
  font-size: 25px;
  margin-top: 30px;
  text-align: right;
  transition: all 0.6s ease;
}

nav ul li:hover {
  background-color: rgb(204, 204, 204, 0.1);
  color: white;
}

#logo {
  font-size: 50px;
}

footer {
  background-color: #514234;
  color: #f2e2c4;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px var(--cor-1);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  color: #f2e2c4;
  margin-top: 120px;
  margin-bottom : 120px;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}

.rodape {
  background-color: #514234;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: relative;
}

.conteudo-rodape {
  font-size: 16px;
}

.conteudo-rodape a {
  color: #fff;
  text-decoration: none;
}

.conteudo-rodape a:hover {
  text-decoration: underline;
}

#dropdown {
  top: 14px;
}

#dropdown li {
  border-radius: 3rem;
}

#backgroundnav {
  display: flex;
  background-color: rgba(140, 91, 48, 0.7);
  border-radius: 3rem;
}

#backgroundnav li {
  margin-top: 0;
}
@media  screen and (max-width:1068px) {
  .blog-post{
      max-width: 80rem;
  }
  .blog-post-img {
      min-width: 30rem;
      max-width: 30rem;
  }
}

@media screen and (max-width: 910px) {

  #navlist{
      display: none;
  }

  #navlist.show{
      display: block;
  }

  #menu-icon{
      display: block;
  }

  .menu {
      position: fixed;
      top: 0;
      right: 0px;
      height: 100vh;
      margin: 0;
      background-color: var(--cor-2);
      flex-direction: column;
      padding: 50px 20px;
  }

  .texto p {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      margin: 0;
      background-color: var(--cor-2);
      flex-direction: column;
      padding: 50px 20px;
  }

}


@media  screen and (max-width:868px) {
  .blog-post{
   max-width: 70rem;
  }
}

@media  screen and (max-width:768px) {
  .blog-post{
      padding:2.5rem;
      flex-direction: column;

  }

  .blog-post-img {
      min-width:100% ;
      max-width:100%;
      transform: translate(0, 8rem);
  }

  .container1,
  .container2 {
      width: 90%; 
  }

  .texto p {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      margin: 0;
      background-color: var(--cor-2);
      flex-direction: column;
      padding: 50px 20px;
  }
  
  .nav-list {
          padding-top: 20px;
          display: none;
          flex-direction: column;
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          text-align: center;
          background-color: var(--cor-4);
          height: 20vh;
      }
  
  .nav-list.active {
          display: flex;
      }
  
  .menu-toggle {
          font-size: 35px;
          display: flex;
      }
}


@media (max-width: 1024px) {
  .container1,
  .container2 {
      width: 70%; 
  }

  .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    
    .blog-post-img img {
        transform: translate(0, 8rem);
    }
    
    .container1,
    .container2 {
        width: 90%;
    }
    .menu.active {
        right: 0;
    }

    .texto p {
        position: static;
        height: auto;
        padding: 20px;
        background-color: transparent;
        flex-direction: row;
    }
}