*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12pt;
    line-height: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --cor-1: #F2E2C4;
    --cor-2: #261F16;
    --cor-3: #BFA380;
    --cor-4: #8C5B30;
    --cor-5: #734226;
  }
  
body{
    background-color: #261f16;
}

.pagina{
    background-color: #f2e2c4;
    width: 21cm;
    height: 34cm;
    margin: auto;
    margin-top: 10px;
}

.paginaM{
    height: 36cm;
}

.conteudo{
    padding: 3cm 2cm 18pt 3cm;
}

.conteudo p{
    text-align: justify;
    text-indent: 2cm;
}

.conteudo h1{
    margin-bottom: 18pt;
    text-indent: 0cm;
    text-transform: uppercase;
    font-weight: bold;
}

.referencias{
    padding: 0cm 2cm 3cm 3cm;
}

.referenciaTitulo{
    text-align: center;
    margin-bottom: 18pt;
    line-height: 1.15;
}

.referenciaLinks p{
    text-align: justify;
    font-size: 10pt;
    line-height: 12pt;
    padding-top: 12pt;
}
nav {
    height: 100px;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-image: black;
  }
  
  nav .logo{
    margin: 30px 0px 0px 40px;
    font-size: 50px;
    color: var(--cor-1);
  }
  
  nav .menu{
    margin-left: 80px;
  }
  
  nav .menu a{
    text-decoration: none;
    color: var(--cor-1);
  }
  
  nav .sobrenos{
    margin: 30px 40px 0px 0px;
    font-size: 20px;
    color: var(--cor-1);
    text-transform: uppercase;
    transition: all 0.6s ease;
    border: 2px solid var(--cor-1);
    border-radius: 3rem;
    align-items: center;
    display: flex;
    padding: 0px 10px 0px 10px;
  }
  
  nav .sobrenos:hover {
    background-color: rgb(204, 204, 204, 0.1);
    color: white;
  }
  
  nav .sobrenos a{
    color: var(--cor-1);
    text-decoration: none;
  }
  
  nav ul {
    text-transform: uppercase;
    display: inline-flex;
    color: var(--cor-1);
    list-style-type: none;
    margin-right: 100px;
  }
  
  nav ul li:hover ul{
    display: inline-flex;
    align-items: center;
  }
  
  nav ul li ul {
    margin-top: 25px;
    padding: 35px 20px 35px 20px  ;
    right: 50px;
    position: absolute;
    display: none;
  }
  
  nav ul li ul li{  
    text-align: left;
    margin-left: 60px;
  }
  
  nav ul li {
    cursor: pointer;;
    padding: 10px;
    margin-left: 120px;
    font-size: 25px;
    margin-top: 30px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  nav ul li:hover{
    background-color: rgb(204, 204, 204, 0.1);
    color: white;
  }
  #logo{
    font-size: 50px;
  }
  #dropdown{

    top: 14px;

  }
  #dropdown li{
    border-radius: 3rem;
  }
#backgroundnav{
    display: flex;
    background-color: rgba(140, 91, 48, 0.7);
    border-radius: 3rem;
}
#backgroundnav li {
    margin-top: 0;
}

.mais200{
  height: 41cm;
}